{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
    <header class="masthead" style="background-image: url('{{ asset('clean/assets/img/about-bg.jpg') }}')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="page-heading">
						<h1>About Me</h1>
						<span class="subheading">This is what I do.</span>
					</div>
				</div>
			</div>
		</div>
	</header>
    {% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
    <div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
                {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.location) }}
                    {{ form_row(form.startDate) }}
                    {{ form_row(form.endDate) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.status) }}
                {{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
